<!-- Contact Section -->
<footer class="contact-section text-center">
    <h2 class="text-2xl font-bold text-gray-900 mb-4">Let's Get In Touch</h2>
    <p class="text-gray-600 mb-6">Feel free to reach out via LinkedIn or email me at chauhans.sourabh@gmail.com </p>
    
     <!-- Social Icons -->
            <div class="flex justify-center gap-4 mb-8">
                <a href="https://github.com/sourabhsc" target="_blank">
                    <img src="static/images/github.svg" class="w-6 h-6">
                </a>
                <a href="https://www.linkedin.com/in/sourabh-singh-chauhan/" target="_blank">
                    <img src="static/images/linkedin-logo.svg" class="w-6 h-6">
                </a>
                <a href="https://twitter.com/chauhanssourabh" target="_blank">
                    <img src="static/images/twitter.svg" class="w-6 h-6">
                </a>
                <a href="https://www.instagram.com/sourabhsc/" target="_blank">
                    <img src="static/images/insta.svg" class="w-6 h-6">
                </a>
            </div>
    <p class="mt-10 text-sm text-gray-500">&copy; 2025 Sourabh Chauhan. All Rights Reserved.</p>
</footer>
