<!-- Technical Expertise Section -->
<section id="expertise" class="mb-16">
    <h2 class="text-3xl font-bold text-center text-gray-900 mt-8 flex justify-center gap-6"">Technical Expertise</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        <div class="bg-white p-6 rounded-xl shadow-lg card-hover">
            <h3 class="text-xl font-semibold text-gray-800 mb-3">Machine Learning</h3>
            <p class="text-gray-600">NLP, RAG, MLOps, Feature Engineering, Model Deployment</p>
        </div>
        <div class="bg-white p-6 rounded-xl shadow-lg card-hover">
            <h3 class="text-xl font-semibold text-gray-800 mb-3">Data Engineering & Tools </h3>
            <p class="text-gray-600">ETL Pipelines, Data Warehousing, Real-time Processing, Python, Docker, CI/CD, SQL, AWS, Azure</p>
        </div>
        <div class="bg-white p-6 rounded-xl shadow-lg card-hover md:col-span-2 lg:col-span-1">
            <h3 class="text-xl font-semibold text-gray-800 mb-3">Knowledge Graphs</h3>
            <p class="text-gray-600">GraphDB, SPARQL, PoolParty, Graph Analytics, Semantic Data Modeling</p>
        </div>

    </div>
</section>
