{% extends "base.html" %}

{% block head %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/timeline.css') }}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col s12 m4 l8">
            <span class="date">2021</span>
            <ul class="list">
                <li>
                    <div class="icon-title">
                        <i class="tiny material-icons">home</i>
                        <a href="/timeline" class="title">[life] Exercise and Food</a>
                    </div>
                    <span class="content"> Moved to Vienna in May 2021 from Klosterneuburg.
                    </span>
                </li>
                <li>
                    <div class="icon-title">
                        <i class="tiny material-icons">work</i>
                        <a href="/timeline" class="title">[work] Kaggle VBD Xray challenge, </a>
                    </div>
                    <span class="content"> I spent 1.5 months (Feb - March) working on Kaggle VBD challenge to identify 14 Xray anamolies in more than 15000 X-ray images using deep learning agorithms. 
                    </span>
                </li>


                <li>
                    <div class="icon-title">
                        <i class="tiny material-icons">school</i>
                        <a href="/timeline" class="title">[edu] German A1, </a>
                    </div>
                    <span class="content">I spent ~4 months, 2 hour a week learning German. I
                        can now have everyday conversations limited to a certain topic. 
                    </span>
                </li>
                  
            </ul>


            <div class="col s12 m4 l8">
            <span class="date">2015-2021</span>
            <ul class="list">
                 <span class="content"> More details coming soon...
                    </span>

            </ul>
        </div>
        
    </div>
    <br>
    <br>
</div>

<!--<li><a href="/projects/" class="title">[]</a>
    <span class="content"></span></li>-->
{% endblock %}
